# Generated Telemetry Data
/data/*.csv

# Generated Graphs
/graphs/*.png
/graphs/*.jpg
/graphs/*.pdf

# Python Cache
__pycache__/
*.pyc

# Logs
*.log

# WireGuard Private Keys
*.key
*.pem
*.conf
.env
secrets/

# Temporary Files
*.tmp

# IDE Settings
.vscode/
.idea/

# Winndows / macOS
Thumbs.db
.DS_Store

# Privacy
scripts/OpenNanoPiSSH-LAN.bat
scripts/OpenNanoPiSSH-VPN.bat
